:root {
  --color-light: #fff;

  --color-primary: rgba(121, 7, 241, 1);
  --color-primary-light: rgb(205, 173, 240);
  --color-secondary: rgba(243, 16, 85, 1);
  --color-secondary-light: rgb(238, 172, 192);
  --color-secondary-extra-light: rgb(255, 233, 239);

  --header-height: 70px;
  --footer-height: 50px;

  --page-padding: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

.container__inner {
  padding-top: calc(var(--header-height) + var(--page-padding));
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  padding-bottom: var(--page-padding);
  min-height: calc(100vh - var(--footer-height));
}

button {
  font-weight: 600;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  background-color: var(--color-secondary-extra-light);
}
